/* See: https://www.joshwcomeau.com/css/custom-css-reset/ */
@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-inline-size: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	#root,
	#__next {
		isolation: isolate;
	}
}

@layer default {
	:root {
		--color-primary: var(--lime-4);
		--color-secondary: var(--orange-6);

		--color-primary-font: var(--gray-0);

		--color-primary-bg: var(--gray-9);
		--color-secondary-bg: var(--gray-8);

		--font-code: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	html {
		font-family: var(--font-sans);
		color: var(--color-primary-font);
		background: var(--color-primary-bg);
	}

	body {
		padding: var(--size-4);
		overflow-x: hidden;
	}

	p {
		font-size: var(--font-size-2);
		letter-spacing: 0.0625em;
		line-height: 1.5;

		@media (768px <= width) {
			font-size: var(--font-size-3);
		}
	}

	:is(p, div, span) > code {
		font-family: var(--font-code);
		color: var(--red-5);
		background-color: var(--gray-9);
		border-radius: var(--size-1);
		padding-inline: var(--size-1);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: 0.0625em;
		text-wrap: balance;
		line-height: 1.3em;
	}

	h1 {
		font-size: var(--font-size-fluid-3);
		font-weight: var(--font-weight-8);
		text-align: center;
	}

	h2 {
		font-size: var(--font-size-fluid-2);
	}

	h3 {
		font-size: var(--font-size-fluid-1);
	}

	pre {
		font-size: var(--font-size-2);
		padding: var(--size-2);
		tab-size: 2;

		@media (768px <= width) {
			padding: var(--size-4);
		}
	}

	a {
		color: var(--gray-0);
		text-decoration: none;

		&:is(&:hover, &:focus-visible) {
			text-decoration: underline;
			text-decoration-skip-ink: all;
		}
	}
}
