---
import TopHeadBlock from '../components/TopHeadBlock.astro'
import BasePageLayout from '../layouts/BasePageLayout.astro'
---

<BasePageLayout >
	<main>
		<TopHeadBlock />
	</main>
</BasePageLayout>

<style></style>
