---
import Layout from '../layouts/Layout.astro'

import HeadBlock from '../components/HeadBlock.astro'
---

<Layout title="Tsuyoshi Yamaguchi">
	<main>
		<HeadBlock />
	</main>
</Layout>

<style></style>
