---
import BaseLayout from '../layouts/BaseLayout.astro'
import HeadBlock from '../components/HeadBlock.astro'
---

<BaseLayout title="Tsuyoshi Yamaguchi">
	<main>
		<HeadBlock />
	</main>
</BaseLayout>

<style></style>
