---
type Props = {
	/** The class to apply to the text */
	class?: string
}

const { class: className, ...rest } = Astro.props
---

<span class={className} {...rest}><slot /></span>

<style>
	span {
		background: var(--gradient-12);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
