---
import { NAME } from '../constants'
import GradientText from './GradientText.astro'
---

<header>
	<a href="/"><GradientText class="name">{NAME}</GradientText></a>
	<nav>
		<ul>
			<li class="link-list">
				<a href="/blog" class="link">Blog</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.name {
		inline-size: max-content;
		font-size: var(--font-size-4);
		font-weight: var(--font-weight-8);
		@media (width >= 768px) {
			font-size: var(--font-size-6);
		}
	}
	.link-list {
		list-style: none;
	}
	.link {
		font-size: var(--font-size-4);
		font-weight: var(--font-weight-6);
	}
</style>
