---
import { NAME } from '../constants.ts'
import GradientText from './GradientText.astro'
---

<div class="container">
	<h1 class="fluid"
		><span class="im fluid">I'm</span>
		<GradientText class="name fluid"> {NAME}</GradientText></h1
	>
	<div class="role fluid">WEB DEVELOPER</div>
</div>

<style>
	.container {
		display: flex;
		container-type: inline-size;
		inline-size: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.fluid {
		--base-min-font-size: 3.8rem;
		--base-max-font-size: 8rem;
		--base-font-size: 7.5cqi;
		--font-size-ratio: 1;
		--fluid-size: clamp(
			calc(var(--base-min-font-size) * var(--font-size-ratio)),
			calc(var(--base-font-size) * var(--font-size-ratio)),
			calc(var(--base-max-font-size) * var(--font-size-ratio))
		);
		font-size: var(--fluid-size);
	}
	h1 {
		margin-block: var(--fluid-size);
		font-weight: var(--font-weight-9);
		line-height: 120%;
		text-align: center;

		@media (width < 768px) {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
		}
	}
	.im {
		--font-size-ratio: 0.8;
	}
	.name {
		--font-size-ratio: 1;
	}
	.role {
		--font-size-ratio: 0.6;
		font-weight: var(--font-weight-7);
	}
</style>
