---
import { NAME } from '../constants'
---

<div class="container">
	<div class="greet fluid fade-out">Hello,</div>
	<h1 class="fluid"
		><span class="im fluid fade-out">I'm</span>
		<span class="name fluid"> {NAME}</span></h1
	>
	<div class="role fluid fade-out">WEB DEVELOPER</div>
</div>

<style>
	.container {
		display: flex;
		container-type: inline-size;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.fluid {
		--base-min-font-size: 3.8rem;
		--base-max-font-size: 8rem;
		--base-font-size: 7.5cqi;
		--font-size-ratio: 1;
		--fluid-size: clamp(
			calc(var(--base-min-font-size) * var(--font-size-ratio)),
			calc(var(--base-font-size) * var(--font-size-ratio)),
			calc(var(--base-max-font-size) * var(--font-size-ratio))
		);

		font-size: var(--fluid-size);
	}

	h1 {
		margin-block: var(--fluid-size);
		font-weight: var(--font-weight-9);
		line-height: 120%;
		text-align: center;

		@media (width < 768px) {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
		}
	}

	.im {
		--font-size-ratio: 0.8;
	}

	.name {
		background: var(--gradient-12);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		--font-size-ratio: 1;
	}

	.greet {
		font-weight: var(--font-weight-7);
		--font-size-ratio: 0.5;
	}

	.role {
		--font-size-ratio: 0.7;
		font-weight: var(--font-weight-7);
	}

	@keyframes fade-out {
		0% {
			opacity: 1;
		}
		60% {
			opacity: 1;
		}
		90% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	.fade-out {
		animation: fade-out linear;
		animation-timeline: view();
	}
</style>
