---
import { getCollection } from 'astro:content'
import BaseLayout from '../../../layouts/BaseLayout.astro'

const allPosts = await getCollection('blog')
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))]
---

<BaseLayout title="Tags">
	<div>
		{
			tags.map((tag) => (
				<p>
					<a href={`/blog/tags/${tag}`}>{tag}</a>
				</p>
			))
		}
	</div>
</BaseLayout>
